:root {
    --menuBg: #ebc999;
    --menuFont: 'PT Sans', sans-serif;
    --contentFont: 'Edu SA Beginner', cursive;
    --bgColor: #4d3227;
    --borderRadius: 8px;
    --menuPadding: 40px;

    --btnColor: #ebc999;

}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background: var(--bgColor);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bgColor);
    height:100%;
}

.topBarDiv {
    padding: 40px 40px 0px 40px;
    display: flex;
    gap: 10px;


}

.selected {
    top: 2px;
    left: 1px;
    box-shadow: none;
    border-bottom: none;
}

.disabled {
    pointer-events: none;
}

.topBarBtn {
    position: relative;
    width: 120px;
    height: 40px;
    font-family: var(--menuFont);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

    background-color: var(--btnColor);
    cursor: pointer;
}

.mainContentContainer {
    margin: 0px 40vh 60px 40vh;
    background: var(--menuBg);

    border: 3px solid black;
    border-radius: var(--borderRadius);
    padding: var(--menuPadding);
    box-shadow:rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(77	50	39, 0.8) -6px -2px 16px 0px;

    display: flex;
    flex-direction: column;
    gap: 60px;
    font-family: var(--contentFont);

    width: 768.81px;
    
}



.needsGap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeComment {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    border-bottom: 3px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin :40px 160px 0px 160px;
    text-align: center;
    padding: 20px;
}

.subHeader {
    border-bottom: 3px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 70px;
    margin-bottom: 15px;

}

.Container {
    border: 1px solid black;
    padding: 40px;
} 

.hoursContent {
    white-space: pre;
}

.itemTitle {
    font-weight: bold;
}

#drinksContainer, #foodsContainer {
    width: max-content;
    margin: 0;
    border: 0;
    padding: 20px;
    margin-bottom: -80px;
}

.itemImg {
    width: 160px;
    height: auto;
}

#itemsContainer, #foodItemsContainer {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}